/* global variables for some reocurring stuff*/
:root {
    --main-color: #ff2600;
    --secondary-color: #d32102;
  }
  
  @font-face {
    font-family: "roboto-light";
    src: url(assets/fonts/Roboto-Light.ttf);
    font-style: normal;
    font-weight: 500;
  }
  
  @font-face {
    font-family: "roboto-thin";
    src: url(assets/fonts/Roboto-Thin.ttf);
    font-style: normal;
    font-weight: 500;
  }
  
  p{
    text-align:center;
  }

  body{
    margin: 0;
    padding: 0;
    font-family: roboto-light;
    font-weight: 500;
    font-size: 18px;
    background: linear-gradient(120deg, #141414, #333333);
    height: 100vh;
    overflow: hidden;
  }
  
  /* box panel for the login decor*/
  .login_box_back{
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-42%, -55%);
    width: 400px;
    height: 540px;
    background: var(--main-color);
    border-radius: 10px;
  }
  
  /* box panel for the login decor*/
  .login_box_front{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: rgb(238, 238, 238);
    border-radius: 10px;
  }
  
  .login_box_front h1{
    font-family: roboto-thin;
    text-align: center;
    padding: 0 0 20px 0;
  }
  
  .login_box_front form{
    padding: 0 40px;
    box-sizing: border-box;
  }
  
  form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
  }
  
  .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  
  .txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
  
  .txt_field span{
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--secondary-color);
    transition: .5s;
  }
  
  .txt_field input:focus ~ label,
  .txt_field input:valid ~ label{
    top: -5px;
    color: var(--secondary-color);
  
  }
  
  .txt_field input:focus ~ span,
  .txt_field input:valid ~ span{
    width: 100%;
  }
  
  .pass{
    margin: -5px 0 20px 5px;
    cursor: pointer;
  }
  
  .pass a{
    color: #2691d9;
    text-decoration: none;
    font-size: 20px;
  }
  
  .pass a:hover{
    text-decoration: underline;
  }
  
  input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: var(--main-color);
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    outline: none;
  }
  
  input[type= "submit"]:hover{
    background: var(--secondary-color);
    transition: .2s
  }
  
  .signup_link{
    margin: 30px 0;
    text-align: center;
    color: #666666;
  }
  
  .signup_link a{
    color: #2691d9;
    text-decoration: none;
    font-size: 20px;
  }
  
  .signup_link a:hover{
    text-decoration: underline;
  }

  .or{
    font-size: 30px;
  }

  .alter_login{
    font-size: 18px;
    color: #666666;
    text-decoration: none;
  }

  .login_google{
    position: relative;
    top: -25px;
    left: 25px;
    display: inline-block;
  }

  .google-logo{
    max-width: 35px;
    max-height: 35px;
    margin-left: 20px;
    top: -15px;
  }

  .google-logo:hover ~ .alter_login{
    text-decoration: underline;
  }